/.vscode/launch.json
/.vscode/settings.json
/build/.cmake/api/v1/query/client-vscode/query.json
/build/.cmake/api/v1/reply/cache-v2-189f156a2fbfee82277a.json
/build/.cmake/api/v1/reply/codemodel-v2-7b41fe9ceda2a794fa5b.json
/build/.cmake/api/v1/reply/index-2021-10-18T21-11-30-0544.json
/build/.cmake/api/v1/reply/target-environment-Debug-cb9a260fc0f430f2db2f.json
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.16.3/CMakeSystem.cmake
/build/CMakeFiles/3.16.3/CompilerIdC/a.out
/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/environment.dir/build.make
/build/CMakeFiles/environment.dir/cmake_clean.cmake
/build/CMakeFiles/environment.dir/CXX.includecache
/build/CMakeFiles/environment.dir/depend.internal
/build/CMakeFiles/environment.dir/depend.make
/build/CMakeFiles/environment.dir/DependInfo.cmake
/build/CMakeFiles/environment.dir/flags.make
/build/CMakeFiles/environment.dir/link.txt
/build/CMakeFiles/environment.dir/progress.make
/build/CMakeFiles/environment.dir/src/environment.cpp.o
/build/CMakeFiles/environment.dir/src/processPointClouds.cpp.o
/build/CMakeFiles/environment.dir/src/render/render.cpp.o
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/compile_commands.json
/build/environment
/build/Makefile
